body, html {
  height: 100%;
}
.container {
  height: 100%;
  background: #eee;
}
.card-container.card {
  width: 350px;
  padding: 40px 40px;
}

.login-title {
  text-align: center;
  color: #666
}

.control-label {
  color: #a94442;
  padding: 2px 4px;
}
